<template>
<div>
  TESTE
</div>
</template>

<script>
import AxiosHelper from "../config/AxiosHelper";
export default {
  name: "Cars",
  data() {
    return {
      cars: [],
    };
  },
  async created() {
    const request = await AxiosHelper.get("/cars/findAllCars");
    this.cars = request.data;
  },
};
</script>

<style>
</style>