<template>
  <div>
    <div class="accordion" id="accordionInfo">
      <div class="card">
        <div class="card-header" id="headingUserInfo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseUserInfo"
              aria-expanded="true"
              aria-controls="collapseUserInfo"
            >
              User Info
            </button>
          </h2>
        </div>

        <div
          id="collapseUserInfo"
          class="collapse show"
          aria-labelledby="headingUserInfo"
          data-parent="#accordionInfo"
        >
          <div class="card-body">
            Some placeholder content for the first accordion panel. This panel
            is shown by default, thanks to the <code>.show</code> class.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingLocation">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseLocation"
              aria-expanded="false"
              aria-controls="collapseLocation"
            >
              Location
            </button>
          </h2>
        </div>
        <div
          id="collapseLocation"
          class="collapse"
          aria-labelledby="headingLocation"
          data-parent="#accordionInfo"
        >
          <div class="card-body">
            <AccodionBody
              :object="getUser"
              :fields="[
                { label: 'First Name', input: 'firstName', type: 'text' },
                { label: 'Last Name', input: 'lastName', type: 'text' },
                { label: 'Birthdate', input: 'birthdate', type: 'date' },
                { label: 'Email', input: 'email', type: 'email' },
                { label: 'Password', input: 'password', type: 'password' },
                {
                  label: 'Confirm Password',
                  input: 'password',
                  type: 'password',
                },
              ]"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingContacts">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseContacts"
              aria-expanded="false"
              aria-controls="collapseContacts"
            >
              Contacts
            </button>
          </h2>
        </div>
        <div
          id="collapseContacts"
          class="collapse"
          aria-labelledby="headingContacts"
          data-parent="#accordionInfo"
        >
          <div class="card-body">
            And lastly, the placeholder content for the third and final
            accordion panel. This panel is hidden by default.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AccodionBody from "../components/AccodionBody.vue";
export default {
  components: { AccodionBody },
  name: "EditInfo",
  methods: {},
  computed: {},
};
</script>

<style>
</style>