<template>
  <div class="login">
    <div
      class="login-container d-flex flex-column justify-content-center align-items-center"
    >
      <form class="w-50 form-login bg-white" @submit="doLogin">
        <div class="title">
          <h1 class="text-center h1">Login</h1>
        </div>
        <div class="form-group">
          <label for="registerEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="registerEmail"
            v-model="user.email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="registerPassword"
            minlength="6"
            maxlength="15"
            v-model="user.password"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" :disabled="disabled">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
    };
  },
  computed: {
    disabled: function () {
      return !(this.user.email && this.user.password);
    },
  },
  methods: {
    ...mapActions(["setLoading", "setErrorModal"]),
    async doLogin(e) {
      this.setLoading(true);
      e.preventDefault();
      try {
        const request = await this.$http.post("/auth/login", this.user);
        const token = request.data.token;
        this.setLoading(false);
        delete request.data.token;
        const user = request.data;
        localStorage.setItem("user", JSON.stringify(user));
        localStorage.setItem("token", token);
        this.$router.push("/");
      } catch (error) {
        console.log(error);
        this.setLoading(false);
        if (error.response)
          this.setErrorModal({
            show: true,
            errors: error.response.data,
          });
      }
    },
  },
};
</script>

<style scoped>
.title {
  background-color: var(--primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-login {
  border: var(--primary) 2px solid;
  border-radius: 10px;
}
.h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-group {
  padding: 10px;
}
.login {
  background-color: #e2e2e2;
}
.login-container {
  height: 100vh;
}
</style>