<template>
  <div class="register">
    <div
      class="register-container d-flex flex-column justify-content-center align-items-center"
    >
      <form class="w-50 form-register bg-white" @submit="doRegister">
        <div class="title">
          <h1 class="text-center h1">Register</h1>
        </div>
        <div class="form-group">
          <label for="registerFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="registerFirstName"
            v-model="user.firstName"
            minlength="2"
            maxlength="150"
          />
        </div>
        <div class="form-group">
          <label for="registerLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="registerLastName"
            v-model="user.lastName"
            minlength="2"
            maxlength="150"
          />
        </div>
        <div class="form-group">
          <label for="registerBirthdate">Birthdate</label>
          <input
            type="date"
            class="form-control"
            id="registerBirthdate"
            v-model="user.birthdate"
          />
        </div>
        <div class="form-group">
          <label for="registerEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="registerEmail"
            v-model="user.email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="registerPassword"
            minlength="6"
            maxlength="15"
            v-model="user.password"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="registerConfirmPassword"
            minlength="6"
            maxlength="15"
            v-model="user.confirmPassword"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" :disabled="disabled">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Register",
  data() {
    return {
      user: {
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        confirmPassword: "",
        birthdate: "",
      },
    };
  },
  computed: {
    disabled: function () {
      return !(
        this.user.firstName &&
        this.user.lastName &&
        this.user.birthdate &&
        this.user.email &&
        this.user.password &&
        this.user.confirmPassword &&
        this.user.password === this.user.confirmPassword
      );
    },
  },
  methods: {
    ...mapActions(["setLoading", "setErrorModal"]),
    async doRegister(e) {
      this.setLoading(true);
      e.preventDefault();
      try {
        const request = await this.$http.post("/users/createUser", this.user);
         this.setLoading(false);
        this.$router.push("/login");
      } catch (error) {
        console.log(error);
        this.setLoading(false);
        if (error.response)
          this.setErrorModal({
            show: true,
            errors: error.response.data,
          });
      }
    },
  },
};
</script>

<style scoped>
.title {
  background-color: var(--primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-register {
  border: var(--primary) 2px solid;
  border-radius: 10px;
}
.h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-group {
  padding: 10px;
}
.register {
  background-color: #e2e2e2;
}
.register-container {
  height: 100vh;
}
</style>