<template>
  <div>
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "AccordionBody",
};
</script>

<style>
</style>