<template>
  <div>
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button type="button" class="close" @click="closeModal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul>
              <li
                v-for="(error, index) in getErrorModal.errors"
                :key="'error' + index"
              >
                {{ error.message }}
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="closeModal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Loading",
  computed: {
    ...mapGetters(["getErrorModal"]),
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions(["setErrorModal"]),
    closeModal() {
        console.log('CLICK')
      this.setErrorModal({
        show: false,
        errors: [],
      });
    },
  },
  watch: {
    getErrorModal(newGetErrorModal, oldGetErrorModal) {
      const modalComponent = this.$jquery("#errorModal");
      console.log(newGetErrorModal)
      if (newGetErrorModal.show) {
        modalComponent.modal("show");
      } else {
        modalComponent.removeClass("in");
        this.$jquery(".modal-backdrop").remove();
        modalComponent.hide();
      }
    },
  },
};
</script>

<style>
.modal-dialog {
  height: 100%;
}
</style>