<template>
  <div>
    <div
      class="modal fade"
      id="modalLoading"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-hidden="true"
    >
      <div
        class="modal-dialog d-flex justify-content-center align-content-center align-items-center"
        role="document"
      >
        <div class="spinner-border text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Loading",
  computed: {
    ...mapGetters(["getLoading"]),
  },
  data() {
    return {};
  },
  watch: {
    getLoading(newGetLoading, oldGetLoading) {
      console.log(newGetLoading)
      const modalComponent = this.$jquery("#modalLoading");
      if (newGetLoading) {
        modalComponent.modal("show");
      } else {
        modalComponent.removeClass("in");
        this.$jquery(".modal-backdrop").remove();
        modalComponent.hide();
      }
    },
  },
};
</script>

<style>
.modal-dialog {
  height: 100%;
}
</style>