<template>
  <nav
    class="navbar"
    v-if="
      $router?.currentRoute?.value?.name !== 'Register' &&
      $router?.currentRoute?.value?.name !== 'Login'
    "
  >
    <div class="d-flex align-items-center">
      <div class="mr-5">
        <router-link to="/login" class="fas fa-car route h2"></router-link>
      </div>
      <ul class="list">
        <li class="list-link">
          <router-link class="route" to="/login">Cars Available</router-link>
        </li>
      </ul>
    </div>
    <div>
      <ul class="list">
        <li class="list-link dropdown">
          <a
            v-if="!getUser"
            class="route dropdown-toggle"
            href="#"
            id="login"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span>Login</span>
          </a>
          <div
            v-else
            class="route dropdown-toggle"
            href="#"
            id="userInfo"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              :src="getUser.image.url"
              class="img-thumbnail rounded"
              alt=""
            />
          </div>
          <div
            v-if="!getUser"
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="login"
          >
            <form @submit="doLogin" class="form-login">
              <div class="form-group">
                <label for="emailLogin">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="emailLogin"
                  placeholder="Email"
                  v-model="login.email"
                />
              </div>
              <div class="form-group">
                <label for="passwordLogin">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwordLogin"
                  placeholder="Password"
                  v-model="login.password"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <p><i>or</i></p>
              <router-link to="/register">Register</router-link>
            </form>
          </div>
          <div
            v-else
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="userInfo"
          >
            <div class="user-info">
              <ul class="list-user-info">
                <li class="link-user-info">
                  <router-link class="route text-dark" to="/editInfo"
                    >Edit Info
                  </router-link>
                </li>
                <li class="link-user-info">
                  <router-link class="route text-dark" to="/advertiseCar"
                    >Advertise Car
                  </router-link>
                </li>
                <li class="link-user-info">
                  <router-link class="route text-dark" to="/carAds"
                    >Car Ads
                  </router-link>
                </li>
              </ul>

              <button type="submit" class="btn btn-warning btn-sm">
                Logout
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Navbar",
  components: {},
  computed: {
    ...mapGetters(["getUser"]),
  },
  created() {
    console.log(this.getUser);
  },
  watch: {},
  data() {
    return {
      login: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions(["setUser", "setLoading"]),
    async doLogin(e) {
      e.preventDefault();
      try {
        this.setLoading(true);

        const request = await this.$http.post("/auth/login", this.login);
        const token = request.data.token;
        this.setLoading(false);
        delete request.data.token;
        const user = request.data;
        localStorage.setItem("user", JSON.stringify(user));
        localStorage.setItem("token", token);
        this.setLoading(false);
        this.setUser(request.data);
      } catch (error) {
        this.setLoading(false);
        this.setUser(null);
      }
    },
  },
};
</script>

<style scoped>
.navbar {
  background-color: var(--primary);
  display: flex;
  align-content: center;
  width: 99%;
  margin: 0% auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 99999;
  position: sticky !important;
  top: 0;
}
.list {
  list-style: none;
  margin: 0%;
  padding: 10px;
}
.list-link {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.route {
  text-decoration: none;
  color: #fff;
}
.route:link {
  text-decoration: none;
}

.route:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.route:active {
  text-decoration: underline;
}
.dropdown-menu {
  width: 250px !important;
}
.form-login {
  margin: 5px;
}
.user-info {
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.list-user-info {
  margin-bottom: 10px;
}
.link-user-info {
  margin-top: 5px;
  margin-bottom: 5px;
}
.img-thumbnail {
  width: 50px;
}
</style>