<template>
  <div class="app">
    <Navbar />
    <div
      class="main"
      :style="conditionPadding ? 'padding: 3rem;' : 'padding: 0rem;'"
    >
      <router-view></router-view>
    </div>
    <Loading />
    <ErrorModal />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Loading from "./components/Loading.vue";
import ErrorModal from "./components/ErrorModal.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "App",
  components: {
    Navbar,
    Loading,
    ErrorModal,
  },
  computed: {
    ...mapGetters(["getUser"]),
  },
  async mounted() {
    try {
      this.setLoading(true);

      if (localStorage.getItem("token") && localStorage.getItem("user")) {
        const request = await this.$http.get("/auth/newToken");
        const token = request.data.token;
        delete request.data.token;
        const user = request.data;
        localStorage.setItem("user", JSON.stringify(user));
        localStorage.setItem("token", token);
        this.setUser(request.data);
      } else {
        this.setUser(null);
      }
      this.setLoading(false);
    } catch (error) {
      this.setUser(null);
      this.setLoading(false);
    }
  },
  methods: {
    ...mapActions(["setUser", "setLoading"]),
  },
  data() {
    return {
      conditionPadding:
        this.$router?.currentRoute?.value?.name !== "Register" ||
        this.$router?.currentRoute?.value?.name !== "Login",
    };
  },
  watch: {},
};
</script>

<style>
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}
:root {
  --primary: #e91d45 !important;
  --white: #ffffff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
</style>
